.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.link {
  margin-right: 20px;
  text-decoration: none;
}

.toolbarLinks {
  display: inline-block;
  margin-left: 20px;
  text-align: left;
}
